# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_DB=abs-commerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

# ==========================================
# Spring Profile
# ==========================================
SPRING_PROFILES_ACTIVE=prod

# ==========================================
# Spring Datasource
# ==========================================
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/abs-commerce
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password

# ==========================================
# JWT
# ==========================================
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=3600000